---
import Searchbar from '../components/SearchBar';
import Card from "../components/Card"
import Layout from '../layouts/Layout.astro';
import Pagination from "../components/Pagination"


const response = await fetch(import.meta.env.PUBLIC_HYGRAPH_ENDPOINT, {
	method:'POST',
    headers:{
        "Content-Type": "application/json",
      	Accept: "application/json",
		Authorization: `Bearer ${import.meta.env.PUBLIC_HYGRAPH_PERMANENTAUTH_TOKEN}`
    },
	body: JSON.stringify({
		query: ` query Pexels {
			pexelsPhotos {
				photos {
					photos {
						photographer
						photographer_url
						id
						alt
						src {
							large2x
							original
						}
					}
					page
					next_page
					per_page
				}
			}
		}
		`
	})
});


const data = await response.json();
const results = data?.data?.pexelsPhotos;
---

<Layout title="Hygraph Pexels Clone">
	<header class="search">
		<img src="https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=600" alt="search-img">
		<div class="content">
			<h1>Pexel Clone Photos Gallery with Astro</h1>
			<p>Search, preview and download any images within a second</p>
			<div class="header-search">
				<Searchbar client:load />
			</div>
		</div>
	</header>
	<main class="container">
        <section class="gallery">
			{results.map((result: any) => (
				<ul class="images">
					{result.photos.photos.map((photo: any) => (
						<Card
							alt={photo.alt}
							photographer={photo.photographer}
							src={photo.src.large2x}
							original={photo.src.original}
							client:load
						/>
					))}
				</ul>
			))}
			<a href="/photos" class="load-more" style="text-decoration: none;">Load More</a>
        </section>
    </main>
</Layout>

