---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card";
import Pagination from "../components/Pagination";


export async function fetchPhotos(currentPage: any) {
  const response = await fetch(import.meta.env.PUBLIC_HYGRAPH_ENDPOINT, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
      Authorization: `Bearer ${import.meta.env.PUBLIC_HYGRAPH_PERMANENTAUTH_TOKEN}`,
    },
    body: JSON.stringify({
      query: `query Pexels($currentPage: Int, $perPage: Int) {
        pexelsPhotos {
          photos(currentPage: $currentPage, perPage: $perPage) {
            photos {
              photographer
              photographer_url
              id
              alt
              src {
                large2x
                original
              }
            }
            page
            next_page
            per_page
          }
        }
      }
      `,
      variables: {
        currentPage,
        perPage: 15,
      },
    }),
  });
  const data = await response.json();
  return data?.data?.pexelsPhotos;
}

let currentPage = 1;

const initialPhotos = await fetchPhotos(currentPage);
---

<Layout title="Photo Page">
  <div class="container">
    <section class="gallery">
      <div>
        {initialPhotos.map((result: any) => (
          <ul class="images">
            {result.photos.photos.map((photo: any) => (
              <Card
                alt={photo.alt}
                photographer={photo.photographer}
                src={photo.src.large2x}
                original={photo.src.original}
              />
            ))}
          </ul>
        ))}
      </div>
      <Pagination newPhotos={initialPhotos} currentPage={currentPage} client:visible />
    </section>
  </div>
</Layout>
