---
export const prerender = false;
import Layout from "../../layouts/Layout.astro"
import Card from "../../components/Card";
import Pagination from "../../components/Pagination"
import type { Photo } from "../../types";

const  { searchTerm }  = Astro.params;

  const data = await fetch(import.meta.env.PUBLIC_HYGRAPH_ENDPOINT, {
    method:'POST',
    headers:{
      "Content-Type": "application/json",
      Accept: "application/json",
      Authorization: `Bearer ${import.meta.env.PUBLIC_HYGRAPH_PERMANENTAUTH_TOKEN}`
    },
    body: JSON.stringify({
      query: `
        query pexels($searchTerm: String) {
          searchPhotos {
            search(searchTerm: $searchTerm) {
              photos {
                photographer
                photographer_url
                id
                alt
                src {
                  large2x
                  original
                }
              }
            }
          }
        }
      `,
      variables: { searchTerm },
    }),
  }).then(response => response.json());
  const results = data?.data?.searchPhotos;
---

<Layout title=`Search Results for ${searchTerm}`>
  <div style="margin: 2rem auto; max-width: 90%; width: 100%;">
    <h1>free {searchTerm}s photos</h1>
    <section class="gallery">
      {results.map((result: any) => (
        <ul class="images">
          {result.search.photos.map((photo: Photo) => (
            <Card
              alt={photo.alt}
              photographer={photo.photographer}
              src={photo.src.large2x}
              original={photo.src.original}
              client:load
            />
          ))}
        </ul>
      ))}
    </section>
  </div>
      <!-- <Pagination /> -->
    </section>
</Layout>